{% extends 'turgus/base.html.twig' %}

{% block heading %}
    <div class="my-products-header">
        <button class="add-btn">+</button>
        <div class="fl-right">
            <button>statistika</button>
            <button>pardavimo registravimas</button>
        </div>
    </div>
{% endblock %}
{% block body %}
    {% for product in products %}
        <div class="product">
            <img src="{{ asset('images/' ~ product.nuotrauka) }}">
            <h5>{{ product.pavadinimas }}</h5>
            <div class="product-price">
                <span> {{ product.kaina }}€ </span>
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                <button onclick="{{'window.location.href = \'' ~ currentPath ~ '/' ~ product.id  ~ '\''}}">daugiau</button>
            </div>
        </div>
    {% endfor %}
    {% for product in products %}
        {% if product.id == productId %}
            <div class="overlay" onclick="window.history.back()">
            </div>
            <div class="product-card">
                <img src="{{ asset('images/' ~ product.nuotrauka) }}">
                <div class="product-card-info">
                    <button class="close" onclick="window.history.back()"><span class="fas fa-window-close"></button>
                    <h5>{{ product.pavadinimas }}</h5>
                    <p class="product-card-resume">{{ product.aprasymas }}</p>
                </div>
                <div class="seller-info">
                    <p class="seller-phone">{{ seller.telNr }}</p>
                    <p class="seller-email">{{ seller.elPastas }}</p>
                    <p class="seller-name">{{ seller.vardas }} {{ seller.pavarde }}</p>
                </div>
                <div class="price-comments">
                    <span class="card-price">{{ product.kaina }}€</span>
                    <button class="card-button">komentuoti</button>
                    <h5 class="comment-heading">Komentarai</h5>
                    {% set i = 0 %}
                    {% for comment in comments %}
                        <h6 class="commenter">{{ commenters[i].vardas }} {{ commenters[i].pavarde }}</h6>
                        <p class="comment">{{ comment.tekstas}}</p>
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{%  endblock %}