{% extends 'turgus/base.html.twig' %}

{% block heading %}
    <div class="my-products-header">
        <button class="add-btn">+</button>
        <div class="fl-right">
            <button>statistika</button>
            <button>pardavimo registravimas</button>
        </div>
    </div>
{% endblock %}
{% block body %}
    {% for product in products %}
        <div class="product">
            <img src="{{ asset('images/' ~ product.nuotrauka) }}">
            <h5>{{ product.pavadinimas }}</h5>
            <div class="product-price">
                <span> {{ product.kaina }}€ </span>
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                <button onclick="{{'window.location.href = \'' ~ currentPath ~ '/' ~ product.id  ~ '\''}}">daugiau</button>
            </div>
        </div>
    {% endfor %}
    <div class="overlay">
    </div>
    <div class="form-card">
        <button class="close" onclick="window.history.back()"><span class="fas fa-window-close"></button>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{%  endblock %}