{% extends 'turgus/landing.base.twig' %}

{% block body %}
    <select class="order-by" onchange="location = this.value;">
        <option value="{{'/turgus/prekes/' ~ selected ~ '/' ~ category.pavadinimas ~ '/0'}}">Rūšiuoti pagal</option>
        <option value="{{'/turgus/prekes/' ~ selected ~ '/' ~ category.pavadinimas ~ '/mažiausia_kaina'}}">Mažiausią kainą</option>
        <option value="{{'/turgus/prekes/' ~ selected ~ '/' ~ category.pavadinimas ~ '/didžiausia_kaina'}}">Didžiausią kainą</option>
        <option value="{{'/turgus/prekes/' ~ selected ~ '/' ~ category.pavadinimas ~ '/naujausi'}}">Naujausius</option>
        <option value="{{'/turgus/prekes/' ~ selected ~ '/' ~ category.pavadinimas ~ '/seniausi'}}">Seniausius</option>
    </select>
    {% for product in products %}
        <div class="product">
            <img src="{{ asset('images/' ~ product.nuotrauka) }}">
            <h5>{{ product.pavadinimas }}</h5>
            <div class="product-price">
                <span> {{ product.kaina }}€ </span>
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                <button onclick="{{'window.location.href = \'' ~ currentPath ~ '/' ~ product.id  ~ '\''}}">daugiau</button>
            </div>
        </div>
    {% endfor %}
    {% for product in products %}
        {% if product.id == productId %}
            <div class="overlay" onclick="window.history.back()">
            </div>
            <div class="product-card">
                <img src="{{ asset('images/' ~ product.nuotrauka) }}">
                <div class="product-card-info">
                    <button class="close" onclick="window.history.back()"><span class="fas fa-window-close"></button>
                    <h5>{{ product.pavadinimas }}</h5>
                    <p class="product-card-resume">{{ product.aprasymas }}</p>
                </div>
                <div class="seller-info">
                    <p class="seller-phone">{{ seller.telNr }}</p>
                    <p class="seller-email">{{ seller.elPastas }}</p>
                    <p class="seller-name">{{ seller.vardas }} {{ seller.pavarde }}</p>
                </div>
                <div class="price-comments">
                    <span class="card-price">{{ product.kaina }}€</span>
                    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                    <button class="card-button" onclick="{{ 'location = \'' ~ currentPath ~ '/komentaras\'' }}">komentuoti</button>
                    <h5 class="comment-heading">Komentarai</h5>
                    {% set i = 0 %}
                    {% for comment in comments %}
                        <h6 class="commenter">{{ commenters[i].vardas }} {{ commenters[i].pavarde }}</h6>
                        <p class="comment">{{ comment.tekstas}}</p>
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}