{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <thead>
         <h1>Prekės</h1>
        </thead>
        <tbody>
            {% for product in products %}
        <div class="product">
            <img src="{{ asset('images/' ~ product.nuotrauka) }}">
            <h5>{{ product.pavadinimas }}</h5>
            <div class="product-price">
                {# <span> {{ product.kaina }}€ </span> #}
                {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                <button onclick="{{'window.location.href = \'/parduotuve/' ~ product.id  ~ '\''}}">daugiau</button>
            </div>
        </div>
    {% endfor %}
    {% for product in products %}
        {% if product.id == productId %}
            <div class="overlay" onclick="window.history.back()">
            </div>
            <div class="product-card">
                <img src="{{ asset('images/' ~ product.nuotrauka) }}">
                <div class="product-card-info">
                    <button class="close" onclick="window.history.back()"><span class="fas fa-window-close"></span></button>
                    <h5>{{ product.pavadinimas }}</h5>
                    <p class="product-card-resume">{{ product.aprasymas }}</p>
                     {% for sandelis in sandeliai %}
                        <p>Sandelis: {{sandelis.adresas}}</p>
                         {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
                         <button class="card-button" onclick="{{'window.location.href = \'-1/' ~ sandelis.id ~ '\''}}">Rodyti sandėlio prekes</button>
                     {% endfor %}
                      {% if kiekis > 0 %}
                      <p>Prekių kiekis:{{kiekis}}</p>
                      {% endif %}
                    {% if kiekis <= 0  %}
                      <p style="color: red;">Išparduota</p>
                      {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
