{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prekių valdymas</h5>
                    <a href="{{ path('admin_parduotuve_sukurtiPreke') }}" class="btn btn-light bg-primary btn-block">Sukurti naują prekę</a>
                    <a href="{{ path('admin_parduotuve_prekiuSarasas') }}" class="btn btn-light bg-primary btn-block">Redaguoti esamą prekę</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Kategorijų valdymas</h5>
                    <a href="{{ path('admin_parduotuve_sukurtiKategorija') }}" class="btn btn-light bg-primary btn-block">Sukurti naują kategoriją</a>
                    <a href="{{ path('admin_parduotuve_kategorijuSarasas') }}" class="btn btn-light bg-primary btn-block">Redaguoti esamą kategoriją</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Darbininkų valdymas</h5>
                    <a href="#" class="btn btn-light bg-primary btn-block">Pridėti naują darbininką</a>
                    <a href="#" class="btn btn-light bg-primary btn-block">Perkelti/išmesti darbininką</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sandėlių valdymas</h5>
                    <a href="{{ path('admin_sandeliai') }}" class="btn btn-light bg-primary btn-block">Pridėti naują sandėlį</a>
                    <a href="{{ path('admin_sandeliai') }}" class="btn btn-light bg-primary btn-block">Panaikinti esamą sandėlį</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sandėlių valdytojų valdymas</h5>
                    <a href="#" class="btn btn-light bg-primary btn-block">Pridėti naują sandėlio valdytoją</a>
                    <a href="#" class="btn btn-light bg-primary btn-block">Perkelti/išmesti sandėlio valdytoją</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidenav %}
    <a class="list-group-item active" href="{{ path('admin_parduotuve') }}">E-parduotuvės valdymas</a>
    <a class="list-group-item" href="{{ path('admin_turgus') }}">E-turgaus valdymas</a>
    <a class="list-group-item" href="{{ path('admin_vartotojai') }}">Vartotojų valdymas</a>
{% endblock %}