{% extends 'administravimas/parduotuve.html.twig' %}

{% block body %}
    {% if successMessage %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Pavyko!</strong> {{ successMessage }}
        </div>
    {% elseif errorMessage %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Klaida!</strong> {{ errorMessage }}
        </div>
    {% endif %}
    {% if prekes %}
        <table class="table table-striped">
            <tr>
                <th>Pavadinimas</th>
                <th>Aprašymas</th>
                <th>Įkėlimo data</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for preke in prekes %}
                <tr>
                    <td>{{ preke.pavadinimas }}</td>
                    <td>{{ preke.aprasymas }}</td>
                    <td>{{ preke.ikelimoData|date('Y-m-d') }}</td>
                    <td>
                        <a href="{{ path('admin_parduotuve_redaguotiPreke', {'prekesId': preke.id}) }}" class="btn btn-sm btn-light bg-primary">
                            Redaguoti
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_parduotuve_uzsakytiPreke', {'prekesId': preke.id}) }}" class="btn btn-sm btn-light bg-success">
                            Užsakyti
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_parduotuve_salintiPreke', {'prekesId': preke.id}) }}" class="btn btn-sm btn-light bg-danger">
                            Šalinti
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </table>
    {% else %}
        Šiuo metu sistemoje nėra nei vienos prekės!
    {% endif %}
{% endblock %}