{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ sandelis.adresas }}</h1>
    <a class="btn btn-primary btn-outline-primary" href="{{ path('sandelis') }}/{{ sandelioId }}/prekenew">Pridėti prekę</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Ikėlimo data</th>
            <th>Veiksmai</th>
        </tr>
        </thead>
        <tbody>
        {% for preke in prekes %}
            <tr>
                <td>{{ preke.id }}</td>
                <td>{{ preke.pavadinimas }}</td>
                <td>{{ preke.ikelimoData|date("Y-m-d") }}</td>
                <td><a class="btn btn-primary btn-outline-primary" href="{{ path('sandelis') }}/{{ sandelioId }}/preke/{{ preke.id }}">Parodyti</a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-primary btn-outline-primary" href="{{ path('sandelis') }}/{{ sandelioId }}/preke/edit/{{ preke.id }}">Tvarkyti</a>
                    <a class="btn btn-primary btn-outline-primary" style="color: red" href="{{ path('sandelis') }}/{{ sandelioId }}/preke/remove/{{ preke.id }}">Naikinti</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary btn-outline-primary" onclick="history.go(-1);">Grizti</button>
{% endblock %}