{% extends 'baseSandelis.html.twig' %}
                {% block sidenav %}
                    <a class="list-group-item" href="{{ path('sandeliuprekes') }}">Parduotuvės prėkės</a>
                    {% if not is_granted("ROLE_ADMIN") %}
                        <a class="list-group-item" href="{{ path('sandelis') }}">Sandelis</a>
                    {% endif %}
                    {% if is_granted("ROLE_ADMIN") %}
                        <a class="list-group-item" href="{{ path('sandelis') }}">Sandeliai</a>
                    {% endif %}
                    <a class="list-group-item" href="{{ path('sandelis') }}/{{ sandelioId }}/islaida">
                        Sandėlio išlaidos
                    </a>
                    <a class="list-group-item" href="{{ path('sandelis') }}/{{ sandelioId }}/trukstama">
                        Trukstamos sandėlio prekės
                    </a>
                {% endblock %}
{% block body %}
    <h1>{{ sandelis.adresas }}</h1>
    <a class="btn btn-primary btn-outline-primary" href="{{ path('sandelis') }}/{{ sandelioId }}/prekenew">Pridėti prekę</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Pavadinimas</th>
            <th>Ikėlimo data</th>
            <th>Kiekis</th>
            <th>Veiksmai</th>
        </tr>
        </thead>
        <tbody>
        {% for preke in prekes %}
            <tr>
                <td>{{ preke.fkParduotuvesPreke.id }}</td>
                <td>{{ preke.fkParduotuvesPreke.pavadinimas }}</td>
                <td>{{ preke.fkParduotuvesPreke.ikelimoData|date("Y-m-d") }}</td>
                <td>{{ preke.kiekis }}</td>
                <td><a class="btn btn-primary btn-outline-primary" href="{{ sandelioId }}/plusminus/{{ preke.id }}/1">+1</a>
                    <a class="btn btn-primary btn-outline-primary" href="{{ sandelioId }}/plusminus/{{ preke.id }}/-1">-1</a>
                    <a class="btn btn-primary btn-outline-primary" href="{{ sandelioId }}/plusminus/{{ preke.id }}/5">+5</a>
                    <a class="btn btn-primary btn-outline-primary" href="{{ sandelioId }}/plusminus/{{ preke.id }}/-5">-5</a>
                    <a class="btn btn-primary btn-outline-primary" href="{{ sandelioId }}/{{ preke.id }}">Parodyti</a>
                    {% if is_granted("ROLE_ADMIN") %}
                    <a class="btn btn-primary btn-outline-primary" href="{{ path('sandelis') }}/{{ sandelioId }}/preke/edit/{{ preke.id }}">Tvarkyti</a>
                    <a class="btn btn-primary btn-outline-primary" style="color: red" href="{{ path('sandelis') }}/{{ sandelioId }}/preke/remove/{{ preke.id }}">Naikinti</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-primary btn-outline-primary" onclick="history.go(-1);">Grizti</button>
{% endblock %}

