{% extends 'administravimas/turgus.html.twig' %}

{% block body %}
    {% if successMessage %}
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Pavyko!</strong> {{ successMessage }}
        </div>
    {% elseif errorMessage %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Klaida!</strong> {{ errorMessage }}
        </div>
    {% endif %}
    {% if prekes %}
        <table class="table table-striped">
            <tr>
                <th>Pavadinimas</th>
                <th>Aprašymas</th>
                <th>Įkėlimo data</th>
                <th></th>
            </tr>
            {% for preke in prekes %}
                <tr>
                    <td>{{ preke.pavadinimas }}</td>
                    <td>{{ preke.aprasymas }}</td>
                    <td>{{ preke.data|date('Y-m-d') }}</td>
                    <td>
                        <form method="post">
                            <button class="btn btn-sm btn-light bg-danger" type="submit" name="preke" value="{{ preke.id }}">
                                Šalinti
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Šiuo metu sistemoje nėra nei vienos e-turgaus prekės!
    {% endif %}
{% endblock %}